# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE / editor
*.iml
*.ipr
*.iws
.idea/
.vscode/*
!.vscode/settings.json

# Tooling caches
.config/
.dart_tool/
.dart-tool/
.dartServer/
.flutter/
.metadata
.pub-cache/

# Flutter / Dart outputs
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
/build/
/coverage/
/doc/
/packagetester/

agents.md
